<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Regression Test">
    <listeners>
        <listener class-name="Listeners.ExtentReport"/>
        <listener class-name="Listeners.Retry"/>

    </listeners>

    <test name="Amazon Test" verbose="10">
        <classes>
            <class name="Amazon"/>
        </classes>
    </test>
</suite>
